<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="css/bootstrap.min-journal.css">
</head>
<body>
    <h1>Galeria</h1>
    <nav class="navbar navbar-expand-lg bg-success">
        <div class="navbar-nav">
           <a class="nav-link active" aria-current="page" href="/">Home</a>
           <a class="nav-link" href="/contacto">Contacto</a>
           <a class="nav-link" href="/galeria">Galeria</a>
           <a class="nav-link" href="/nosotros">Nosotros</a>
         </div>
   </nav>

</body>
</html>